@import '/src/styles/mixins';
@import '/src/styles/variables';

#spaceships-gallery {
  display: flex;
  flex-direction: column;

  .images {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 2rem 1.5rem;
    @include glass-container(15px);
  }
}

@media only screen and (max-width: $breakpoint-small) {
  #spaceships-gallery {
    .images {
      height: 350px;
    }
  }
}
