@import '/src/styles/variables';

.slider {
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: $primary-color;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: $primary-color;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .slide {
    opacity: 0;
    transition-duration: 1s ease;
    .image {
      width: 100%;
      height: auto;
      max-width: 500px;
      max-height: 350px;
      border-radius: 10px;
    }
    .title {
      padding: 1rem;
      text-align: center;
    }
  }

  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.05);
  }
}
