/// colors
$primary-color: var(--primary);
$primary-hover-color: var(--primaryHover);
// background

// text
$primary-text-color: #f3f3f3;
$secondary-text-color: #161616;
// other

/// fonts
$primary-font: 'Orbitron', sans-serif;
$secondary-font: 'Star Wars', sans-serif;

/// breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;

/// header
$header-height: 80px;
$header-height-mobile: 70px;
