@import '/src/styles/mixins';
@import '/src/styles/variables';

.movie-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 2rem;
  min-height: 120%;
  height: auto;
  padding: 1rem;
  font-size: clamp(2rem, 5vw, 3rem);
  @include glass-container(15px);

  .title {
    color: $primary-color;
    font-size: clamp(2rem, 6vw, 4rem);
  }
  .information {
    font-size: clamp(1rem, 4vw, 1.7rem);
  }
  .description {
    font-size: clamp(1rem, 3vw, 1.5rem);
  }
}

.loading {
  height: 71.4vh;
}
