@import '/src/styles/variables';

.nav-button {
  text-align: center;
  background-color: $primary-color;
  padding: 1rem;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  &:hover {
    background-color: $primary-hover-color;
  }
}
@media only screen and (max-width: $breakpoint-small) {
  .nav-button {
    padding: 0.5rem;
    font-size: 1rem;
  }
}
