@import '/src/styles/variables';

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: url('../../assets/background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  margin: 0;
  overflow: hidden;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 7vh;
    background-color: #111111a1;
    padding: 0 9rem;
    -webkit-box-shadow: 0px 10px 11px 5px #111111a1;
    -moz-box-shadow: 0px 10px 11px 5px #111111a1;
    box-shadow: 0px 10px 11px 5px #111111a1;
    z-index: 3;
  }

  main {
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    padding: 100px 1rem 0 1rem;
  }

  .bb8-container {
    position: fixed;
    bottom: -300px;
    left: -120px;
    width: auto;
    overflow: hidden;
    transition: left 0.8s ease;

    &.hidden {
      left: -400px;
    }
  }

  .toggle-image-button {
    position: fixed;
    bottom: 180px;
    left: 100px;
    background-color: transparent;
    text-wrap: wrap;
    border: none;
    transition: left 0.8s ease;

    svg {
      height: 50px;
      width: 50px;
      fill: #f5f5f5cd;
    }

    cursor: pointer;
    &.hidden {
      left: -30px;
    }
  }

  footer {
    text-align: center;
    padding: 2rem 0;
    margin-top: 1rem;
    border-top: 5px dotted #dcdcdcb5;
  }
}

@media only screen and (max-width: $breakpoint-large) {
  .box {
    header {
      padding: 0 3rem;

      .name {
        font-size: 0.7rem;
      }
    }
  }
}
@media only screen and (max-width: $breakpoint-medium) {
  .box {
    header {
      .name {
        font-size: 0.7rem;
        text-wrap: wrap;
      }
    }

    .bb8-container {
      display: none;
    }

    .toggle-image-button {
      display: none;
    }
  }
}
