@import '../../styles/variables';

#interesting-facts {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

    li {
      flex: 1;
      min-width: 300px;
      background: #ffffff13;
      border-radius: 16px;
      box-shadow: 0 4px 30px #0000001a;
      backdrop-filter: blur(3.5px);
      -webkit-backdrop-filter: blur(3.5px);
      border: 1px solid #ffffff5e;
      padding: 1rem;

      p {
        text-align: center;
        color: $primary-color;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem 0;
      }

      span {
        font-family: Arial, Helvetica, sans-serif;
      }
    }
  }
}

@media only screen and (max-width: $breakpoint-medium) {
  #interesting-facts {
    h2 {
      text-align: center;
    }
  }
}
