@import '/src/styles/mixins';
@import '/src/styles/variables';

#about-me {
  .name {
    font-size: 3rem;
  }

  .description {
    @include glass-container(15px);
    padding: 1rem;

    span {
      line-height: 1.5;
    }
  }
}
@media only screen and (max-width: $breakpoint-small) {
  #about-me {
    .name {
      font-size: 2rem;
      text-align: center;
    }
  }
}
