@import '/src/styles/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  // font-family: $primary-font;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
  color: whitesmoke;
}

body {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  font-family: $primary-font;
}

p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
